img {
    display: none;
}

main {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

#gameInfo {
    background-color: #093;
    border: solid 2px #060;
    display: grid;
}

#levelTitle {
    grid-column: span 1 / 1;
    margin: 0;
}

#bouncesLeft {
    grid-column: span 1 / 2;
    margin: 0;
    text-align: right;
}
